/* The following media queries target specific devices and were copied and pasted from: http://css-tricks.com/snippets/css/media-queries-for-standard-devices/ */
/* Nested styles were added by the team*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

    div.content
    {
            width: 100%;
            width: 100%;
            min-width: 500px;
            /* Center it */
            margin-left: auto;
            margin-right: auto;
    }

}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

    div.content
    {
            width: 75%;
            width: 100%;
            min-width: 500px;
            /* Center it */
            margin-left: auto;
            margin-right: auto;
    }

}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {

    div.content
    {
            width: 100%;
            min-width: 500px;
            /* Center it */
            margin-left: auto;
            margin-right: auto;

    }

}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {

    div.content
    {
            width: 75%;
            min-width: 500px;
            /* Center it */
            margin-left: auto;
            margin-right: auto;
    }

}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {

    div.content
    {
            width: 75%;
            width: 100%;
            min-width: 500px;
            /* Center it */
            margin-left: auto;
            margin-right: auto;
    }

}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
	
    div.content
    {
            width: 100%;
            width: 100%;
            min-width: 500px;
            /* Center it */
            margin-left: auto;
            margin-right: auto;
    }

}
/* End of pasted media queries*/

/* The following CSS will be applied to website on all relevant platforms */

/* Styles for HTML forms */
div.section
{
	margin-top: 1em;
	margin-bottom: 1em;
}

div.spacer
{
margin-top: 3em;
}

button
{
	margin-top: 0.3em;
}

input
{
	margin-top: 0.3em;
}

input[type=email]
{
  -webkit-appearance: none; /* Remove browser specific styling */
  font-family : inherit;
  font-size : 1em;
}

button[type=submit]
{
  -webkit-appearance: none;
  font-family : inherit;
  font-size : 1em;
}

input[type=reset]
{
  -webkit-appearance: none;
  font-family : inherit;
  font-size : 1em;
}

input[type=password]
{
  -webkit-appearance: none;
  font-family : inherit;
  font-size : 1em;
}

input[type=text]
{
  -webkit-appearance: none;
  font-family : inherit;
  font-size : 1em;
}

input[type=numeric]
{
  -webkit-appearance: none;
  font-family : inherit;
  font-size : 1em;
}

input[type=submit]
{
  -webkit-appearance: none;
  font-family : inherit;
  font-size : 1em;
}

input[type=number]
{
  -webkit-appearance: none;
  font-family : inherit;
  font-size : 1em;
}

input[type=date]
{
  -webkit-appearance: none;
  font-family : inherit;
  font-size : 1em;
}
  //font-size : 1em;

body
{
	margin: 0;
	padding: 0;
	color: grey;
}

#home_photo
{
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

div.bike_row_1
{
	postion: block;

}

#left_bike
{
	postion: relative;
	left: 100px;
}

#left_right
{
	float: right;
}

.button_img
{
	max-width: 100%;
}


div.bike_info
{
	margin-top: 2em;
	max-width: 100%;
}

div.header
{
	background-color: grey;
	height: 90px;
	padding: 5px;
	border-radius: 5px;
}

div.pagecontent
{
	padding-bottom: 5px;
	min-height: 100%;
	width: 100%;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
}

/* the main page (body) */
div.main
{
	font-family: sans-serif;
	font-size: 1em;
	background-color: #CCE06E;
	z-index: 0;
}

/* the link display */
a
{
	text-decoration: underline;
	font-size: inherit;
	color: grey;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1
{
	color: grey;
	text-align: center;
	font-size: 1.75em;
}

h2
{
	color: black;
	text-align: center;
	font-size: 1.25em;
}


/* Try to combine this with h2 formatting */
h3
{
	color: black;
	text-align: left;
	font-size: 1.25em;
}

a:hover
{
	color: 435411;
}

div.menu
{
	/* background-color: #106010; */
	padding: 5px;
	text-align: right;
	border-bottom: solid 3px #CCE06E;
}

div.menu a
{
	padding: 2px;
	text-decoration: none;
	font-weight: bold;
}

div.menu_buttons
{
	padding: 5px;
	margin-top: 10px;
}

div.account_button
{

}

.sign_out_button
{
	padding-top: 0.25em;
}

span.icons
{
	float: right;	
	margin-left: 5px;
}

id.home_photo
{
	float: center;
	width: 10%; 
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	z-index: -10;
}

/*
div.map
{
	float: center;
	overflow: hidden;
	margin-top: 10%;
    margin-left: auto;
	margin-right: auto;
}
*/

iframe
{
	height: 400px;
	width: 600px;
	padding: 10px, 10px, 10px, 10px;
	margin-left: auto;
	margin-right: auto;
	border: solid 2px;
	color: 767676;
}

div.interactive_content
{
	background-color: #D3D3D3;
	border-radius: 5px;
	padding: 0.3em;
	color: black;
	margin-top: 1em;
}

h2.interactive_content
{
	color: black;
}

div.logo
{
    position: absolute;

    top: 10px; 
    width: 90px; 
}

div.hometext
{
	float: left;
	width: 550px;
}

span.thumbs a img
{
	border: solid 3px;
	background-color: black;
}

span.thumbs a
{
	color: black;
	text-decoration: none;
}

span.thumbs a:hover
{
	background-color: black;
}

span.thumbs a:hover img
{
	background-color: black;
	border: solid 3px #669933;
	color: black;
}

div.thumbline
{
	margin-top: 20px;
	margin-bottom: 50px;
}

div.aboutimage
{
	text-align: center;
}

div.icons_line /* for the footer */
{
	margin-top: 40px; /* Space from the top */
	padding: 5px; /* some padding round the content */
}	

div.bike
{

}

div.footer /* for the footer */
{
	margin-top: 20px; /* Space from the top */
	padding: 5px; /* some padding round the content */
	text-align: center;
	border-top: solid 3px #CCE06E;
}

div.footer a
{
	text-decoration: none;
	color: grey;
}


div.bikegrid
{

}

div.grid:after 
{
	content: "";
	display: table;
	clear: both;
}

div.bikefloat
{
	float: left;
	margin: 0.5em;
}

div.clearline
{
	clear: both;
}

.center_image
{
	margin: 0px auto;
	display: block;
}

div.map_section
{
	width: 100%;
	margin: 0px auto;
}

.map
{
	margin-left: auto;
	margin-right: auto;
}

span.biketitle
{
	display: block;
	margin: 0px auto;
	padding-top: 1em;
	padding-bottom: 1em;
}

.social_media_icons
{
	width: 2em;
}


/* The following media queries target specific devices and were copied and pasted from: http://css-tricks.com/snippets/css/media-queries-for-standard-devices/ */
/* Nested styles were added by the team*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

	div.content
	{
		width: 100%;
	}

}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

	div.content
	{
		width: 85%;
	}

}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
	div.content
	{
		width: 75%;
	}
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
	
	div.content
	{
		width: 100%;
	}

}
/* End of pasted media queries*/